<div class="swc-page" id="favorite-page">
    <div class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header favorite">
                <div class="navbar-brand">
                    <span class="glyphicon glyphicon-star"></span>
                    <div class="navbar-header-text hidden-xs pull-right">
                        <span>{{_i}}main.favoritesList{{/i}}</span>
                    </div>
                </div>
                <a type="button"
                   class="btn btn-default navbar-btn button-right"
                   data-target="#chart" href="#chart">
                    <span class="glyphicon glyphicon-stats"></span>
                    <span class="buttonCaption">{{_i}}main.chartView{{/i}}</span>
                </a>
                <a type="button"
                   class="btn btn-default navbar-btn button-right"
                   data-target="#settings">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="buttonCaption">{{_i}}main.settings{{/i}}</span>
                </a>
                <a type="button"
                   class="btn btn-default navbar-btn button-right"
                   data-target="#tour">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="content">

        <div class="container-fluid">
            <div class="row col-lg-6 col-sm-6 col-12">
                <div class="input-group">
                    <span class="input-group-btn input-group-addon">
                        <span class="btn btn-primary btn-file">
                            {{_i}}main.importFavorites{{/i}} <input type="file" id="favorites-file-import">
                        </span>
                    </span>

                    <span class="btn btn-primary btn-file" id="favorites-file-export">
                        {{_i}}main.exportFavorites{{/i}}
                    </span>

                    <span class="help-block">
                        {{_i}}main.importExportHelp{{/i}}
                    </span>
                </div>
            </div>
        </div>


        <div class="container-fluid">

            <div class="row favoriteslist" id="favorites-list">

            </div>
        </div>

    </div>
</div>
