<div class="favorite-entry" data-single-id="{{id}}">
    <span class="favorite-header">{{label}}</span>
    <span class="favorite-icons">
        <span class="glyphicon glyphicon-edit edit"></span>
        <span class="glyphicon glyphicon-stats addToDiagram"></span>
        <span class="glyphicon glyphicon-trash delete"></span>
    </span>
    <div>
        <small>{{provider}}</small>
    </div>
    <div>
        <span>{{_i}}favorite.lastValueAt{{/i}}:</span>
        <span>{{lastValue}} {{uom}} ({{lastValueTimeFormatted}})</span>
    </div>
</div>