<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-title">{{_i}}favorite.edit.header{{/i}}</div>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" id="favoriteLabel" maxlength="60" value="{{label}}">
        </div>    
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="confirmFavoritEdit" data-dismiss="modal">{{_i}}ok{{/i}}</button>
        </div>
    </div>
</div>