<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-title">{{_i}}listSelection.header{{/i}}</div>
        </div>
        <div class="modal-body">
            <ul id="selectionList" class="nav nav-tabs">
                <li><a href="#category" data-toggle="tab" data-tab="category">{{_i}}listSelection.headers.category{{/i}}</a></li>
                <li><a href="#sensor" data-toggle="tab" data-tab="sensor">{{_i}}listSelection.headers.procedure{{/i}}</a></li>
                <li><a href="#station" data-toggle="tab" data-tab="station">{{_i}}listSelection.headers.station{{/i}}</a></li>
                <li><a href="#phenomenon" data-toggle="tab" data-tab="phenomenon">{{_i}}listSelection.headers.phenomenon{{/i}}</a></li>
            </ul>
            <div class="tab-content selectionListContent">
                <div class="tab-pane fade" id="category">
                    <div class="panel-group" id="categoryAcc">
                    </div>
                </div>
                <div class="tab-pane fade" id="sensor">
                    <div class="panel-group" id="sensorAcc">
                    </div>
                </div>
                <div class="tab-pane fade" id="station">
                    <div class="panel-group" id="stationAcc">
                    </div>
                </div>
                <div class="tab-pane fade" id="phenomenon">
                    <div class="panel-group" id="phenomenonAcc">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>