<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-title">Station: {{name}}</div>
		</div>
		<div class="modal-body">
			{{#ensemble}}
			<div class="tsItem {{#selected}}selected{{/selected}}" data-ensemble="{{label}}">
				<div class="checkbox">
					<label>
						<input type="checkbox"> {{label}} 
					</label>
					<div class="additionalInfo">count of time series: {{count}}</div>
				</div>
				<div class="resultTimeSelection"> 
					<span class="glyphicon glyphicon-refresh loading icon-spin"></span> loading result time
				</div>
			</div>
			{{/ensemble}}
		</div>
		<div class="modal-footer">
			<div class="ecmwf-station-loading" style="display: none;"><span class="glyphicon glyphicon-refresh loading icon-spin"></span> Start loading the timeseries data ...</div>
        	<button type="button" class="btn btn-primary" id="confirmTimeseriesSelection">OK</button>
      	</div>
	</div>
</div>