<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-title">Settings</div>
		</div>
		<div class="modal-body">
			<div class="panel-group" id="accordionSettings">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordionSettings"
								href="#collapseSettings">Settings</a>
						</h4>
					</div>
					<div id="collapseSettings" class="panel-collapse collapse in">
						<div class="panel-body">
							<!-- <div class="resetStatus">
								<div class="item">
									<span class="glyphicon glyphicon-remove"></span>
									<span>Reset Status</span>
								</div>
							</div> -->
							<button type="button" class="btn btn-block btn-default resetStatus" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Reset status</button>
							<div class="panel panel-default permalink">
								<div class="panel-heading">Create a permalink as:</div>
								<div class="panel-body">
									<div class="item link">
										<span class="glyphicon glyphicon-link"></span>
										<span>Link in a new window</span>
									</div>
									<div class="item mail">
										<span class="glyphicon glyphicon-envelope"></span>
										<span>Link in an email</span>
									</div>
									<div class="item clipboard">
										<span class="glyphicon glyphicon-paperclip"></span>
										<span>Link to clipboard</span>
									</div>
								</div>
							</div>
							<button type="button" class="btn btn-block btn-default clusteringStations" data-dismiss="modal">Cluster marker</button>
							<button type="button" class="btn btn-block btn-default concentrationMarker" data-dismiss="modal">
								<div>Marker with last value information</div>
								<div class="btn-subtitle">Attention - some data provider are very slow</div>
							</button>
							<button type="button" class="btn btn-block btn-default saveStatus" data-dismiss="modal">Save status</button>
							<button type="button" class="btn btn-block btn-default generalizeData" data-dismiss="modal">Generalize Data</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-group" id="accordionImprint">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordionImprint"
								href="#collapseImprint">Imprint</a>
						</h4>
					</div>
					<div id="collapseImprint" class="panel-collapse collapse">
						<div class="panel-body">
							<h4>Imprint</h4>
							<p>Find this project at <a href="https://github.com/52North/js-sensorweb-client" target="_blank">GitHub</a></p>
							<p><a href="http://52north.org" target="_blank">52&deg;North GmbH</a> is responsible for this website.</p>
							<p>52&deg;North Initiative for Geospatial Open Source Software GmbH<br>Martin-Luther-King-Weg 24<br>48155 Muenster, Germany</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>