<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Settings</h4>
		</div>
		<div class="modal-body">
			<div class="panel-group" id="accordionSettings">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordionSettings"
								href="#collapseSettings">Settings</a>
						</h4>
					</div>
					<div id="collapseSettings" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="resetStatus">
								<div class="item">
									<div>Reset Status</div>
								</div>
							</div>
							<div class="permalink">
								<div class="item">
									<div>Create a permalink</div>
								</div>
								<a class="glyphicon glyphicon-link link" style="display: none;"></a>
								<a class="glyphicon glyphicon-envelope mail" style="display: none;"></a>
							</div>
							<button type="button" class="btn btn-block btn-default clusteringStations" data-dismiss="modal">Clustering stations</button>
							<button type="button" class="btn btn-block btn-default saveStatus" data-dismiss="modal">Save Status</button>
							<button type="button" class="btn btn-block btn-default generalizeData" data-dismiss="modal">Generalize Data</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-group" id="accordionImprint">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordionImprint"
								href="#collapseImprint"> Imprint </a>
						</h4>
					</div>
					<div id="collapseImprint" class="panel-collapse collapse in">
						<div class="panel-body">
							<h4>Imprint</h4>
							<p>52&deg;North GmbH is responsible for this website.</p>
							<p>52&deg;North Initiative for Geospatial Open Source Software GmbH<br>Martin-Luther-King-Weg 24<br>48155 Muenster, Germany</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>