<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-title">Station: {{name}}</div>
		</div>
		<div class="modal-body">
			{{#phenomena}}
			<h4>{{label}}</h4>
			{{#timeseries}}
			<div class="tsItem {{#selected}}selected{{/selected}}" data-id="{{id}}" data-internalid="{{internalId}}">
				<div class="checkbox">
					<label> 
						<span class="glyphicon glyphicon-refresh loading icon-spin"></span><input type="checkbox" disabled> {{procedure}}
					</label>
					<div class="additionalInfo" style="display: none;"></div>
				</div>
			</div>
			{{/timeseries}}
			{{/phenomena}}
			<div class="selectAllOption" style="display: none;">
				<hr>
				<div class="checkbox">
					<label>
						<input type="checkbox"> select all timeseries
					</label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
        	<button type="button" class="btn btn-primary" id="confirmTimeseriesSelection" data-dismiss="modal">OK</button>
      	</div>
	</div>
</div>